[submodule "ideas/pwgen/upstream"]
	path = ideas/pwgen/upstream
	url = https://github.com/gortazar/gnome-shell-pwgen.git
[submodule "ideas/recap/upstream"]
	path = ideas/recap/upstream
	url = https://github.com/gortazar/recap.git
[submodule "ideas/recap-gs/upstream"]
	path = ideas/recap-gs/upstream
	url = https://github.com/gortazar/recap-gs.git
[submodule "ideas/title-slides/upstream"]
	path = ideas/title-slides/upstream
	url = https://github.com/gortazar/title-slides.git
[submodule "ideas/restore-wss/upstream"]
	path = ideas/restore-wss/upstream
	url = https://github.com/gortazar/restore-wss.git
[submodule "ideas/lo-pert/upstream"]
	path = ideas/lo-pert/upstream
	url = https://github.com/gortazar/lo-pert.git
[submodule "ideas/vacas/upstream"]
	path = ideas/vacas/upstream
	url = https://github.com/gortazar/vacas.git
